<div class="grid justify-content-center flex-column align-items-center">
    <h3>Best in Class Ux with Gelato Relay experience 
      <div  style="margin:unset" class="col-12 call-out">
        <div class="flex align-items-center justify-content-center">
        
  
  
        </div>
      </div>
    </h3>
  
    <div class="col-12">
      <div class="grid justify-content-center">
  
          
        <div style="text-align: center" class="col-12">
          <div style="border:unset;height:330px" class="card mb-0">
            <p style="font-size: 25px">
              In this demo we 
              <span style="color: var(--primary-color)">Suppliers</span> and...
            </p>
      
  
            <p style="margin: unset">...and giving the "takt"</p>
            <div>
              <img height="100"  src="assets/images/gelato.svg" />
            </div>
  
            <!-- <p-progressSpinner></p-progressSpinner> -->
          </div>
        </div>
     
    
  
      </div>
    </div>
  </div>